/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
  display: flex;
  justify-content: center;
}
.main-container {
  margin: 1% 3%;
  max-width: 1024px;
}
@media (max-width: 560px) {
  .main-container {
    margin: auto;
  }
}
.main-container p {
  padding: 1%;
}
.navbar {
  display: flex;
  font-size: 2.2rem;
  justify-content: space-evenly;
  margin: 2% 0;
  background-color: rgba(143, 143, 143, 0.322);
  padding: 1%;
}
.navbar a {
  text-decoration: none;
  color: black;
}
.head {
  display: flex;
  justify-content: space-evenly;
  background-color: #3c4151;
  width: auto;
  height: 25vh;
}
.head img {
  object-fit: cover;
  padding: 3%;
}
@media (max-width: 430px) {
  .head img {
    display: none;
  }
}
.head h1 {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
  color: white;
}
.head h2 {
  font-size: 1.7rem;
  text-align: left;
  padding: 1rem;
  color: white;
}
@media (max-width: 744px) {
  .head h2 {
    text-align: center;
  }
}
.head .name {
  display: flex;
  flex-direction: column;
  background-color: #3c4151;
  justify-content: center;
  padding: 0 5%;
}
.info-section {
  display: flex;
  justify-content: space-between;
  margin-top: 0 1%;
  color: #3c4151;
}
.info-section p {
  font-size: 1.6rem;
  font-weight: 100;
}
.info-section .company {
  display: flex;
  align-items: center;
  padding-top: 3%;
}
.info-section .company h3 {
  font-size: 2rem;
  padding: 2%;
}
.info-section .company span {
  font-size: 1.8rem;
  font-weight: 700;
}
.info-section h2 {
  font-size: 2.6rem;
  padding: 4% 0 2% 1%;
  font-weight: 600;
  border-bottom: 2px solid gray;
}
.info-section h3 {
  font-weight: 600;
}
.info-section .left-side {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 2%;
  text-align: right;
  background-color: #3c4151;
  color: white;
}
@media (max-width: 560px) {
  .info-section .left-side {
    text-align: start;
    width: auto;
  }
}
.info-section .left-side p {
  font-size: 1.5em;
}
.info-section .right-side {
  display: flex;
  flex-direction: column;
  width: 60%;
}
@media (max-width: 560px) {
  .info-section .right-side {
    width: auto;
  }
}
@media (max-width: 560px) {
  .info-section {
    flex-direction: column;
  }
}
